* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top,
  #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 12px 35px;
  margin: 0 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#myButton1{
  color: white;
  background-color: navy;
}
#myButton2{
  color: black;
  background-color: lime;
}
#myButton1:hover {
  color: navy;
  background-color: white;
}
#myButton2:hover {
  color: lime;
  background-color: black;
}
h2{
  font-size: 18px;
  padding: 20px 0;
}
.code{
  width: 350px;
  padding: 10px;
  border-left: 3px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: copy;
}
